:root {
    --primary-brand-color: black;

}

* {
    box-sizing: border-box;
    margin: 0;
}

body {


    font-family: Helvetica;
    background-color: black;
}

#beer {
    max-width: 100%;
    height: auto;
}

.brain {
    margin-bottom: auto;
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin: 10px;
}

main {
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

form {
    margin-top: 100px;
    margin-bottom: auto;
}

main>section {
    flex-wrap: wrap;

}

.card {

    background-color: white;
    color: var(--primary-brand-color);
    text-transform: capitalize;
    width: 300px;
    height: 150px;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px lightgray;

}

.card:hover {
    box-shadow: 1px 1px 100px 1px whitesmoke;
}



.outline {
    border: 1px solid grey;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;

}

#header,
footer {
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: var(--primary-brand-color);
    justify-content: center;
}

#header {
    font-size: 30px;
    font-weight: normal;
    position: fixed;
    transition: 0.2s
}

#footer {
    position: fixed;
}

#modal {
    text-transform: capitalize;
    line-height: 30px;
    font-size: 20px;

}

#modal div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal button {
    margin-left: 10px;
}

#question {
    margin-bottom: 10px;
}

#result {
    margin-top: 10px;
}